
<nav class="navbar">

    <ul class="navbar-list">
    
              <li class="navbar-item">
                <a class="navbar-link" href="{% url 'about' %}" data-nav-link>About</a>
              </li>
    
              <li class="navbar-item">
                
                <a class="navbar-link" href="{% url 'Resume' %}" data-nav-link>Resume</a>
              </li>
    
              <li class="navbar-item">
                <a class="navbar-link" href="{% url 'project' %}" data-nav-link>Project</a>
              </li>
    
           
    
             
                <li class="navbar-item">
                  <a class="navbar-link" href="{% url 'contact' %}" data-nav-link>contact</a>
               </li>
    
                
            </ul>
    
    </nav>