
{% extends 'base.html' %}

{% block content %}

{%  load static %}


<article class="portfolio active" data-page="project">

<header>
  <h2 class="h2 article-title">Project</h2>
</header>

<section class="projects">

  <ul class="filter-list">

    <li class="filter-item">
      <button class="active" data-filter-btn>All</button>
    </li>
    {% for pr in project %}
    <li class="filter-item">
      <button data-filter-btn>{{pr.type}}</button>
    </li>
    {% endfor %}
    
  </ul>

  <div class="filter-select-box">

    <button class="filter-select" data-select>

      <div class="select-value" data-selecct-value>Select category</div>

      <div class="select-icon">
        <ion-icon name="chevron-down"></ion-icon>
      </div>

    </button>

    <ul class="select-list">

      <li class="select-item">
        <button data-select-item>All</button>
      </li>
      {% for pr in project %}
      <li class="filter-item">
        <button data-filter-btn>{{pr.type}}</button>
      </li>
      {% endfor %}
      

    </ul>

  </div>

  <!-- project list -->
  <ul class="project-list">
    {% for pr in project %}
   
    
    <li class="project-item  active" data-filter-item data-category="web development">
      <a href="{{pr.url}}" target="_blank">
        
        <figure class="project-img">
          <div class="project-item-icon-box">
            <ion-icon name="eye-outline"></ion-icon>
          </div>
          
          <img src="{{pr.img.url}}" alt="finance" loading="lazy">
        </figure>
        
        <h3 class="project-title">{{pr.title}}</h3>
        
        <p class="project-category">{{pr.type}}</p>
        
      </a>
    </li>
    
    {% endfor %}
   





      

  </ul>

</section>

</article>

{% endblock content %}